body {
    background-color: #F4F5F5;
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body > .container-fluid {
    padding-top: 10px;
}

/* The white background content wrapper */
.page {
    padding: 10px;
    margin-bottom: 10px;

    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
    margin-bottom: 17px;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.topbar .btn {
    border: 0;
}

.topbar .brand {
    padding: 4px 20px 0px 0px;
}

.topbar .brand img {
    margin-right: 4px;
}

.topbar .brand small {
    display:block;
    font-size: 10px;
}

.topbar .nav a span {
    border-bottom: 1px solid #BFBFBF;
}

.page {
    padding-bottom: 0px;
}

.page .form-stacked {
    padding-left: 0px;
}

.page form .clearfix {
    margin-bottom: 10px;
}

.page form .actions {
    margin: 0px -10px;
    padding-left: 170px;
}

.btn.authorization {
    padding-bottom: 5px;
}

.page form .actions {
    padding-left: 10px;
    padding-right: 10px;
}

form.modal {
    padding-left:0px;
}

.messages {
    z-index: 100;
    position: fixed;
    width: 100%;
    margin-top: 10px;
}

.messages .alert-message {
    width: 500px;
    margin: 0px auto;
}

ul.params li,
ul.headers li {
    margin-bottom: 5px;
}

ul.params li .btn,
ul.headers li .btn {
    padding: 5px 3px 5px 3px;
}

ul.params li .btn.success,
ul.headers li .btn.success {
    display: none;
}

ul.params li:last-of-type .btn.success,
ul.headers li:last-of-type .btn.success {
    display: inline-block;
}

ul.params li:last-of-type .btn.danger,
ul.headers li:last-of-type .btn.danger {
    display: none;
}

textarea {
    min-width: 390px;
    max-width: 390px;
}

.help-block.hide {
    display: none;
}

pre {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;

    overflow: auto;

    max-width: 900px;
    max-height: 900px;

    white-space: pre;
    word-wrap: normal;
}

pre:empty:before {
    content: 'No Request Initiated';
}

.form-stacked div.clearfix.error {
    padding: 0px 5px 5px 5px;
    margin: 0px -5px 5px -5px;
}

.clearfix.disabled {
    display: none;
}

.sidebar {
    position: fixed;
}

.container-fluid > .content {
    margin-left: 240px;
}

form[name="request"] .actions {
    position: fixed;

    z-index: 100;

    padding: 10px 20px;

    left: 0px;
    bottom: 0px;
    width: 100%;
}

form[name="request"] .actions .pull-right {
    margin-right: 20px;
}

#response h2 {
    font-size: 19.5px;
    line-height: 1;
    color: #404040;
    font-weight: normal;
}
